@font-face {
    font-family: 'Grandis';
    src: url(./fonts/grandis-condensed-regular.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Grandis', Times, serif;
}

.bg-left {
    height: 100vh;
    background-image: url('./assets/bg-left.png');
    background-size: cover;
    width: 35vw;
}

.card-front {
    margin-top: 21vh;
    margin-left: 18vw;
}

.card-back {
    margin-top: 4vh;
    margin-left: 24vw;
}

.card-logo {
    left: 20vw;
    position: absolute;
    width: 73px;
    bottom: 72vh;
}

.display {
    display: flex;
    justify-content: space-between;  
}

.section-right {
    margin-top: 38vh;
    margin-left: 15vw;
}

.date-cvc {
    display: flex;
    justify-content: space-between;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none
}

.input-name-number {
    margin-top: 5px;
    width: 20vw;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(227, 225, 225);
}

input::placeholder {
    color: rgb(167, 165, 165);
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

select {
    border-radius: 5px;
    border: 1px solid rgb(227, 225, 225);
    color: rgb(167, 165, 165);
    height: 35px;
    width: 58px;
}

.label-date {
    display: inline-block;
    width: 121px;
}

.input-cvc {
    border-radius: 5px;
    border: 1px solid rgb(227, 225, 225);
    color: rgb(167, 165, 165);
    height: 35px;
    width: 130px;
}

.cvc {
    padding-left: 29px;
}