@font-face {
    font-family: 'Grandis';
    src: url(./fonts/grandis-condensed-regular.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Grandis', Times, serif;
}

.bg-left {
    height: 100vh;
    background-image: url('./assets/bg-left.png');
    background-size: cover;
    width: 35vw;
}


.card-front {
    margin-top: 21vh;
    margin-left: 18vw;
    position: relative;
}

.card-back {
    margin-top: 4vh;
    margin-left: 24vw;
}

.card-logo {
    left: 20vw;
    position: absolute;
    width: 73px;
    bottom: 72vh;
}

.display {
    display: flex;
    justify-content: space-between;  
}

.section-right {
    margin-top: 35vh;
    margin-left: 12vw;
}

.date-cvc {
    display: flex;
    justify-content: space-between;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none
}

.input-name-number {
    margin-top: 5px;
    width: 20vw;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(227, 225, 225);
}

input::placeholder {
    color: rgb(167, 165, 165);
    font-size: 16px;
}

input:focus {
    border: 1px solid #4d097e;
    outline: 0;
}

.user-number {
    border: none;
    background: transparent;
    width: 55vw;
    position: relative;
    left: 21vw;
    bottom: 13vh;
    height: 31px;
    font-size: 30px;
    color: white;
    letter-spacing: 3px;
    word-spacing: 8px;
}

.user-name {
    border: none;
    background: transparent;
    width: 20vw;
    position: absolute;
    bottom: 54vh;
    left: 21vw;
    font-size: 16px;
    color: white;
}

.user-exp-date-m {
    border: none;
    background: transparent;
    position: absolute;
    bottom: 54vh;
    left: 38.4vw;
    color: white;
}

.user-exp-date-y {
    border: none;
    background: transparent;
    position: absolute;
    bottom: 54vh;
    left: 40vw;
    color: white;
}

.barra {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 39.5vw;
    bottom: 54.1vh;
}

.user-cvc {
    color: white;
    position: absolute;
    left: 45vw;
    bottom: 28vh;
}

select {
    border-radius: 5px;
    border: 1px solid rgb(227, 225, 225);
    color: rgb(167, 165, 165);
    height: 36px;
    width: 3.5vw;
    margin-top: 5px;
}

select:focus {
    border: 1px solid #4d097e;
    outline: 0;
}


.label-date {
    display: inline-block;
    width: 121px;
    font-size: 13px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.input-cvc {
    border-radius: 5px;
    border: 1px solid rgb(227, 225, 225);
    height: 35px;
    width: 10vw;
    margin-top: 5px;
}

.cvc {
    padding-left: 29px;
}

.label-card {
    font-size: 13px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.div-card-name {
    margin-bottom: 30px;
}

.div-card-number {
    margin-bottom: 30px;
}

.div-exp-date {
    margin-bottom: 40px;

}

.div-cvc {
    margin-bottom: 40px;
}

.btn-confirm {
    background-color: #230c33;
    color: white;
    width: 20vw;
    height: 5vh;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-left: 1px;
    box-shadow: #4e4e4e 0.5px 0.5px 4px
}